{
    "useTabs": false,
    "tabWidth": 2,
    "printWidth": 120,
    "endOfLine": "auto",
    "semi": false,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "singleQuote": true
}