<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Video Player</title>
</head>
<body>
    <div id="app">
        <video :src="videoUrl" controls autoplay></video>
        <ul>
          <li v-for="file in files" :key="file.magnet">{{ file.fileName }}
            <button @click="play(file)">Play</button>
          </li>
        </ul>
    </div>
</body>
<script>
    const { createApp, ref } = Vue
  
    createApp({
      data() {
        return {
          activeVideo: {},
          files: [
            {
              magnet: '2b13dac126361813e82dad2552db37c5c4496db1',
              fileName: 'Mercy.Road.2023.Pa.WEB-DLRip.14OOMB.avi'
            },
            {
              magnet: '',
              fileName: ''
            }
          ],
          message: 'Hello vue'
        }
      },
      computed: {
        videoUrl: ({ activeVideo }) => activeVideo.fileName ? `/stream/${activeVideo.magnet}/${activeVideo.fileName}` : ''
      },
      methods: {
        async play(file) {
          const response = await axios.get(`/stream/add/${file.magnet}`) 
          this.activeVideo = file
        }
      }
    }).mount('#app')
  </script>
</html>